.container {
    max-width: 110px;
    margin: 0 auto;
}
.header {
    height: 91px;
    background-color: #2d303a;
}


body {
    width: 1020px;
  }
  
  .header {
    height: 91px;
    background-color: #2d303a;
  }

  body {
    border-color: #2d303a;
  }